nav{
    min-width:100%;
}

.home-image{
     background: url(../images/city-river-home.jpg) no-repeat center center fixed; 
}

.culture-image{
    background: url(../images/azenhas-do-mar.jpg) no-repeat center fixed;
}

.header-image{
    min-width:100%;
    min-height:400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-text{
    color:white;
    padding-left:50px;
}

.holiday-type img{
    width:100%;
    min-height:300px;
    overflow: hidden;
}